@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');

.app{
  margin: 0;
  padding: 0;
  background: rgb(43, 39, 39);
  font-family: "Poppins", sans-serif;
  height: 100vh;
  overflow: hidden;
}
.form{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: rgb(71, 67, 67);
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
}
.form h1{
  text-align: center;
  color: white;
  padding: 20px 0;
  border-bottom: 1px solid silver;
}
.loginForm{
  padding: 0 40px;
  box-sizing: border-box;
}
.input-container-login{
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}
.input-container-login input{
  color: white;
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}
.input-container-login label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: white;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}
.input-container-login span::before{
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #2691d9;
  transition: .5s;
}
.input-container-login input:focus ~ label,
.input-container-login input:valid ~ label{
  top: -5px;
  color: #2691d9;
}
.input-container-login input:focus ~ span::before,
.input-container-login input:valid ~ span::before{
  width: 100%;
}

.loginSubmit{
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: #2691d9;
  border-color: #2691d9;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}
.loginSubmit:hover{
  border-color: rgb(61, 58, 58);
  transition: .5s;
}
.signup_link{
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: white;
}
.signup_link a{
  color: #2691d9;
  text-decoration: none;
}
.signup_link a:hover{
  text-decoration: underline;
}

.error {
  color: red;
  font-size: 16px;
  font-weight: bolder;
  padding-bottom: 20px;
}


/* Mateo's Login CSSs
.app {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(43, 39, 39);
  }
  
  .loginInputs {
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 250px;
  }
  
  .loginSubmit {
    margin-top: 10px;
    cursor: pointer;
    font-size: 18px;
    background: #0174d2;
    border: 1px solid #0174d2;
    color: #fff;
    padding: 10px 20px;
  }
  
  .loginSubmit:hover {
    background: #0b0964;
  }
  
  .button-container-login {
    display: flex;
    justify-content: center;
  }
  
  .login-form {
    background-color: rgb(36, 33, 33);
    padding: 2rem;
    box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: auto;
    width: 300px;
  }
  
  .list-container {
    display: flex;
  }
  
  .error {
    color: red;
    font-size: 16px;
    font-weight: bolder;
  }
  
  .titleLogin {
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: bolder;
  }
  
  .input-container-login {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 5px;
    font-weight: bolder;
  }
*/