
.mainPageBody{
    background-color: rgb(43, 39, 39);
    background-size: cover;
    max-height: fit-content;
    min-height: 100vh;
}


.films{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 8vh;
    padding-left: 10px;
    padding-right: 10px;
    gap: 20px;
}