
.myVideosBody{
    background-color: rgb(43, 39, 39);
    background-size: cover;
    max-height: fit-content;
    min-height: 100vh;
}


.myFilms{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 8vh;
    padding-left: 10px;
    padding-right: 10px;
    gap: 20px;
}
.statsMyFilms{
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    padding-top: 15vh;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bolder;
}
.btnDeleteMyFilm{
    margin-top: 8vh;
    margin-left: 1vh;
    width: 120px;
    height: 40px;
    border: 1px solid;
    background: #2691d9;
    border-color: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}
.btnDeleteMyFilm:hover{
    border-color: rgb(61, 58, 58);
    transition: .5s;
}
.btnDeleteMyFilm:disabled{
    color: darkgrey;
    background: rgb(61, 58, 58);
    border-color: rgb(61, 58, 58);
    transition: .5s;
}