@import url('https://css.gg/search.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


.player {
    margin-top: 0cm;
    margin-left: 3cm;
    width: 1237px;
    height: 696px;
    background-color: black;
}
.commShare{
    font-family: 'Montserrat', sans-serif;
    margin-top: 2.75cm;
    margin-left: 3cm;
}
.comments{
    margin-left: 3cm;
    max-width: 1237px;
}

.aboutVideoPlayer {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: row;
    width: 1237px;
    margin-top: 0.5cm;
    margin-left: 3cm;
}

.likes-dislikes {
    display: flex;
    flex-direction: row;
    height: 2cm;
    width: 100%;
    color: white;
}

.like,
.dislike {
    display: flex;
    flex-direction: column;
    height: 80px;
    width: 60px;
    border-radius: 50px;
    background: rgb(43, 39, 39);
    color: white;
    align-items: center;
    border: none;
}

.like label,
.dislike label {
    margin-top: 5px;
}

.icon {
    margin-top: 10px;
}


.like:hover,
.dislike:hover {
    background: rgb(92, 86, 86);
}

.like:active,
.dislike:active {
    border: solid rgb(73, 68, 68);
}

.mymodal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    border: 1px solid rgb(167, 155, 155);
    background: rgb(92, 86, 86);
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;
    align-content: center;
    font-family: 'Montserrat', sans-serif;
}

.myoverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
}

.modal-btn-cont {
    display: flex;
    flex-direction: row;
    gap: 10px;
    float: right;

}

.modal-btn {
    height: 30px;
    font-size: medium;
    font-weight: bold;
    margin-top: 15px;
    color: black;
    background: rgb(218, 212, 212);
    font-family: 'Montserrat', sans-serif;
}

.modal-btn:hover {
    background: rgb(218, 212, 212);
}




.aboutTextPlayer {
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
}

.titleVideoPlayer {

    width: 1150px;
    height: 30px;
    font-size: 18px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-decoration: none;
    color: white;
}

.canalNamePlayer {
    margin-bottom: 20px;
    max-width: 1150px;
    font-size: 14px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    color: #4b6c99;
}

.avatarPlayer {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.playerContainer {
    background-color: rgb(43, 39, 39);
    background-size: cover;
    max-height: fit-content;
    min-height: 100vh;
    padding-top: 10vh;

}

.describePlayer {
    padding-top: 5px;
    height: 40%;
    color: rgb(134, 134, 134);
}
.sekcja{
    color: aliceblue;
}